* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.container {
  /* width: 1140px; */
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.bg-image {
  background-image: url(/assets/images/frame.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 0px;
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  width: 100%;
  /* background-color: #003b64; */
  color: #ffffff;
}

/* .logo img {
  /* height:100%; */

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* .nav-links li {
  display: inline;
} */

.nav-links a {
  /* text-decoration: none; */
  font-family: "helvetica";
  font-weight: 400;
  opacity: 90%;
  color: white;
  font-size: 16px;
}

.get-started .btn {
  text-decoration: none;
  border: none;
  background-color: white;
  color: #00171f;
  font-family: "helvetica";
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 20px 50px 50px;
  font-size: 16px;
}

.get-started .btn:hover {
  background-color: blue;
}

.energy {
  max-width: 600px;
  margin:100px;
}

h1 {
  font-size: 64px;
  color:#ffffff;
  font-family: "helvetica";
  font-weight: 400;
}

p {
  margin: 15px 0;
  font-family: "helvetica";
  color: #ffffff;
  width:506px;
  height:72px;
  line-height: 24px;
  opacity: 90%;
}

.search-box {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 20px;
}

.search-box input {
  width: 476px;
  padding: 10px;
  border: none;
  border-radius: 20px 100px 100px;
  font-size: 1rem;
}

.search-box button {
  background-color: #00A8FF;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-family: "helvetica";
  font-weight: 400;
  border-radius: 20px 50px 50px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #007BB5;
}


@media (max-width: 600px) {
  .search-box {
      flex-direction: column;
  }
  
  .search-box input {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
  }
  
  .search-box button {
      width: 100%;
      border-radius: 5px;
  }
}
