* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 1140px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.bg-image {
  background-image: url(/assets/images/frame.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 0px;
  width: 100%;
  height: 100vh;
}
ul {
  font-family: "helvetica";
  opacity: 90%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  margin: 5px;
  padding: 14px 16px;
}

li a:hover {
  text-decoration: underline;
  color: blue;
}

.button {
  padding: 12px 20px;
  background-color: #ffffff;
  border: none;
  color: #00171f;
  text-align: center;
  font-family: "helvetica";
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}
.hero {
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  color: #ffffff;
  margin-left: 10px;
  /* /* background-color: #f2f2f2; */
}

.hero-text {
  /* flex: 1; */
  /* margin-right: 50px; */
  margin-top: 100px;
}

h1 {
  width: 612px;
  font-family: "helvetica";
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  width: 506px;
  opacity: 90%;
  font-size: 16px;
  line-height: 24px;
  font-family: "Helvetica";
}

.input-button {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 476px;
  height: 66px;
}

input {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  margin-right: 10px;
  flex: 1;
}
.hero-image {
  position: absolute;
  width: 600px;
  height: 800px;
  left: 61%;
  top: 20%;
  background: url(/assets/images/girl.png);
  /* background-repeat: no-repeat; */
  border-radius: 4px;
}
.central {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

footer {
  padding: 20px;
  margin-top: -20%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-logo {
  margin: 60px;
}

 .join {
  /* width: 100%; */
  /* max-width: 300px; */
  /* margin-top: 300px; */
   margin-left: 300px;
  text-align: center;
  background-image: url(/assets/images/letter.png);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.heading {
  font-family: "Helvetica";
  font-size: 48px;
  line-height: 110%;
}

.paragraph {
  margin-left: 27%;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 620px;
  font-family: "Helvetica";
  color: #00171f;
  opacity: 90%;
}

input[type="email"] {
  width: 50%;
  padding: 20px;
  border: 1px solid #00000033;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  background-color: #008CBA;
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-family: 'helvetica';
  font-weight: 700;
  font-size: 17px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
}

